<body>
    <div class="row">
        <div class="navbar">
            <nav>
                <button class="btn btn-primary" (click)="home()">BACK TO HOME</button>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <div class="card">
            <div class="card-title">
                <h4> HI....{{userName}}...YOUR CURRENT BALANCE IS..{{Amount}}</h4>
                <h4> YOUR CREDITED BALANCE IS..{{creditAmount}}</h4>
            </div>
          </div>
        </div>
        <div class="col-4"></div>

    </div>
</body>